@font-face {
    font-family: Fjalla;
    src: url(fonts/Fjalla.ttf);
    font-family: Karmina;
    src: url(fonts/Karmina.ttf);
    font-family: ER;
    src: url(fonts/ER.ttf);
    font-family: CODE;
    src: url(fonts/CODE.otf);
}
.ul {
    position: fixed;
    text-align: right;
    font-size: 10pt;
    color: red;
    margin-bottom: 25px;
    margin-top: 5px;
    margin-left: 10px;
    opacity: 0.3;
    background-color: #333333;
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
.head {
    margin-top: 40px;
    border-radius: 0px;
    text-align: center;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 1);
    background-repeat:round;
    color: white;
    font-size: 45pt;
    font-family: CODE;
    border-color: whitesmoke;
    margin-bottom: 15px;
    height: auto;
    padding: auto;
}
footer {
    text-align: left;
    width: 100%;
    float: left;
}
.center-text {
    margin-top: 19px;
    text-align: center;
}
.text1 {
    font-family: CODE;
    text-align: center;
}
p {
    font-family: Fjalla;
    padding: 15px;
    text-align: left;
    border-color: whitesmoke;
    border-style: double;
    border-radius: 0px;
}
.images {
    text-align: center;
    align-content: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
input {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: white;
    font-size: 17pt;
    outline-color: aliceblue;
    height: 50px;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 90px;
    border-style: ridge;
    border-color: whitesmoke;
    background: Transparent;
    -webkit-transition: 1s;
    transition: 1s;
}
img {
    align-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
    padding: auto;
}

#headimage {
    border-style: solid;
    border-color: white;
    margin-bottom: 15px;
}

#headimage:hover {
    opacity: 0.3;
    transition: 1s;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px)
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -1;
}

.menu {
    color: aliceblue;
    font-size: 15pt;
    font-family:fantasy;
}
button {
    background: Transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    border-radius: 0px;
    border-style: ridge;
    border-color: grey;
    text-align: center;
    color: white;
}   

.dropdown {
    background: transparent;
    border-color: #333;
    border-style: double;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40pt;
    margin-top: 70px;
    margin-left: 10px;
    color: white;
    font-family: CODE;
    position: fixed;
    text-align: center;
}

.dropdown-content {
    width: 200px;
    float: left;
    position: fixed;
    display: block;
    text-align: left;
    display: none;
}

.izyuminka {
    text-align: right;
    float: left;
}
.dropdown-content button {
    transition: 0.5s;
    text-align: left;
    background: #222;
    opacity: 0.9;
    color: white;
    font-size: 35pt;
}

.dropdown-content button:hover {
    opacity: 1;
}
.leftside {
    width: 740px;
    padding-right: 5px;
    float: left;
}

.rightside {
    width: 200px;
    float: right;
}

body {
    width: 1000px;
    height: 100%
    -webkit-transition: 1s;
    transition: 1s;
    background-color: dimgray;
    font-family: Fjalla;
    margin-left: 150px;
    margin-right: 150px;
    background-attachment:fixed;
    background-repeat:round;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    color: lightcyan;
    background-image: url("images/fon.jpg");
    position: relative;
    text-align: left;  
    text-decoration-color: aliceblue;
    font-size: 25pt;
}
#button {
	background: Transparent;
	border-color: white;
    border-radius: 0px;
    border-style: ridge;
}


a {
    background: transparent;
}


#button:hover {
	background-color: dimgrey;
	transition: 0.7s;
}

#izyuminka:hover {
    transition: 0.7s;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px)
    -ms-filter: blur(2px);
    filter: blur(2px);
    z-index:-1;
    
}

#youtube:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px)
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index:-1;
	background-color: red;
    transition: 0.7s;
    border-radius: 5px;
}

#something {
    width: 100%;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#something:hover {
    background-color: dimgray;
    transition: 0.7s;
}

#ul:hover {
    opacity: 0.99;
    transition: 0.4s;
    text-align: left;
}

#vk:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px)
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index:-1;
    background-color: dodgerblue;
    transition: 0.7s;
    border-radius: 5px;
}

#vkbut:hover {
    background-color: dodgerblue;
    transition: 0.7s;
    border-color: white;
    text-align: left;
}

.dropdown:hover  .dropdown-content {
    opacity: 1;
    border-radius: 3px;
    text-align: center;
    transition: 0.9s;
    display: block;
    background: transparent;
}

#linkmenu {
    width: 100%;
    text-align: center;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px)
    -ms-filter: blur(1px);
    filter: blur(1px);
    z-index: -1;
    margin: auto;
    font-size: 20pt;
}

#linkm {
    width: 100%;
    text-align: left;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px)
    -ms-filter: blur(1px);
    filter: blur(1px);
    z-index: -1;
    margin: auto;
    font-size: 20pt;
}

#linkmenu:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px)
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index:-1;
    transition: 0.9s;
    background-color: grey;
}

#linkm:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px)
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index:-1;
    transition: 0.9s;
    background-color: grey;
}

#notblurried {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px)
    -ms-filter: blur(2px);
    filter: blur(2px);
    z-index:-1;
    }

#notblurried:hover {
    transition: 0.67s;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px)
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index: -1;
    
}

#blur {
    border-style: none;
    font-size: 30pt;
}

#blur:hover {
    border-style: none;
    transition: 0.9s;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px)
    -ms-filter: blur(2px);
    filter: blur(2px);
    z-index:-1;
    }

#har:hover {
    transition: 0.9s;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px)
    -ms-filter: blur(50px);
    filter: blur(50px);
    z-index:-1;
}

#telegram:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px)
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index:-1;
    background-color: cornflowerblue;
    transition: 0.7s;
    border-radius: 5px;
}

#donat {
    margin-left: 15px;
    margin-right: 15px;
}